Repository aurora-is-near/aurora-evm, pull requests merged in 2024-06, with the labels that each got.

#42 Feat: refactore `EIP-4844`
  Cargo.toml
  benches/loop.rs
  core/src/opcode.rs
  core/src/utils.rs
  evm-tests/ethcore-builtin/src/lib.rs
  evm-tests/ethjson/src/spec/spec.rs
  evm-tests/ethjson/src/test_helpers/state.rs
  evm-tests/ethjson/src/transaction.rs
  evm-tests/ethjson/src/vm.rs
  evm-tests/jsontests/src/main.rs
  evm-tests/jsontests/src/state.rs
  evm-tests/jsontests/src/utils.rs
  evm-tests/jsontests/src/vm.rs
  evm-tests/jsontests/tests/state.rs
  gasometer/Cargo.toml
  gasometer/src/lib.rs
  runtime/src/eval/system.rs
  runtime/src/handler.rs
  src/backend/memory.rs
  src/backend/mod.rs
  src/executor/stack/executor.rs
  src/executor/stack/memory.rs
Labels: hard-fork, tests

#44 Feat: fix London hard fork tests
  evm-tests/jsontests/res/berlin_builtins.json
  evm-tests/jsontests/res/istanbul_builtins.json
  evm-tests/jsontests/src/main.rs
  evm-tests/jsontests/src/state.rs
Labels: tests

#45 Feat: fix Berlin hard fork test and transactions validation
  .github/workflows/rust.yml
  evm-tests/jsontests/src/main.rs
  evm-tests/jsontests/src/state.rs
  evm-tests/jsontests/src/utils.rs
Labels: tests

#46 Feat: `EIP-7610` - non-empty storage create collision and upgrade evm-tests
  .github/workflows/rust.yml
  Cargo.toml
  core/Cargo.toml
  evm-tests/jsontests/Cargo.toml
  fuzzer/Cargo.toml
  gasometer/Cargo.toml
  runtime/Cargo.toml
  runtime/src/handler.rs
  src/backend/memory.rs
  src/backend/mod.rs
  src/executor/stack/executor.rs
  src/executor/stack/memory.rs
Labels: enhancement, tests, release

#47 chore: workspace dependencies
  Cargo.toml
  core/Cargo.toml
  evm-tests/jsontests/Cargo.toml
  fuzzer/Cargo.toml
  gasometer/Cargo.toml
  runtime/Cargo.toml
Labels: enhancement
